## 확률적 경사하강법을 이용한 행렬분해

In [1]:
import numpy as np

R = np.array([[4, np.NaN, np.NaN, 2, np.NaN],
              [np.NaN, 5, np.NaN, 3, 1],
              [np.NaN, np.NaN, 3, 4, 4],
              [5, 2, 1, 2, np.NaN]])
num_users, num_items = R.shape
K=3

np.random.seed(1)
P=np.random.normal(scale=1./K, size=(num_users,K))
Q=np.random.normal(scale=1./K, size=(num_items,K))

In [2]:
from sklearn.metrics import mean_squared_error

def get_rmse(R, P, Q, non_zeros):
    error = 0
    full_pred_matrix = np.dot(P, Q.T)
    
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
    rmse = np.sqrt(mse)
    
    return rmse

In [3]:
non_zeros = [(i, j, R[i, j]) for i in range(num_users) for j in range(num_items) if R[i, j] > 0]

steps = 1000
learning_rate = 0.01
r_lambda = 0.01

for step in range(steps):
    for i, j, r in non_zeros:
        eij = r - np.dot(P[i, :], Q[j, :].T)
        P[i, :] = P[i, :] + learning_rate * (eij * Q[j, :] - r_lambda * P[i, :])
        Q[j, :] = Q[j, :] + learning_rate * (eij * P[i, :] - r_lambda * Q[j, :])
        
        rmse = get_rmse(R, P, Q, non_zeros)
        if (step % 50) == 0:
            print('### iteration step : ', step, 'rmse :', rmse)

### iteration step :  0 rmse : 3.261355059488935
### iteration step :  0 rmse : 3.26040057174686
### iteration step :  0 rmse : 3.253984404542389
### iteration step :  0 rmse : 3.2521583839863624
### iteration step :  0 rmse : 3.252335303789125
### iteration step :  0 rmse : 3.251072196430487
### iteration step :  0 rmse : 3.2492449982564864
### iteration step :  0 rmse : 3.247416477570409
### iteration step :  0 rmse : 3.241926055455223
### iteration step :  0 rmse : 3.2400454107613084
### iteration step :  0 rmse : 3.240166740749792
### iteration step :  0 rmse : 3.2388050277987723
### iteration step :  50 rmse : 0.5003190892212748
### iteration step :  50 rmse : 0.5001616291326989
### iteration step :  50 rmse : 0.4989960120257808
### iteration step :  50 rmse : 0.498848345014583
### iteration step :  50 rmse : 0.49895189256631756
### iteration step :  50 rmse : 0.4983323683009099
### iteration step :  50 rmse : 0.49841484893787
### iteration step :  50 rmse : 0.49792599580240865
### iteration step :  50 rmse : 0.4900605568692784
### iteration step :  50 rmse : 0.4890370238665434
### iteration step :  50 rmse : 0.4886917602399782
### iteration step :  50 rmse : 0.48767231013696477
### iteration step :  100 rmse : 0.15911521988578559
### iteration step :  100 rmse : 0.15880916178010923
### iteration step :  100 rmse : 0.15874092217089003
### iteration step :  100 rmse : 0.15828569528425074
### iteration step :  100 rmse : 0.15830809482168753
### iteration step :  100 rmse : 0.158288329937674
### iteration step :  100 rmse : 0.15787486893092845
### iteration step :  100 rmse : 0.15792073606567075
### iteration step :  100 rmse : 0.15725245215457084
### iteration step :  100 rmse : 0.15710664164665217
### iteration step :  100 rmse : 0.15690252144190003
### iteration step :  100 rmse : 0.15643403848192472
### iteration step :  150 rmse : 0.0754600487526446
### iteration step :  150 rmse : 0.07544589133447124
### iteration step :  150 rmse : 0.0754323432965304
### iteration step :  150 rmse : 0.07514800672233937
### iteration step :  150 rmse : 0.07518867696418201
### iteration step :  150 rmse : 0.0752288950993844
### iteration step :  150 rmse : 0.07489318864469284
### iteration step :  150 rmse : 0.0749340042593328
### iteration step :  150 rmse : 0.07462695506527887
### iteration step :  150 rmse : 0.07464332131959679
### iteration step :  150 rmse : 0.07464441641563425
### iteration step :  150 rmse : 0.07455141311978056
### iteration step :  200 rmse : 0.043610165794390886
### iteration step :  200 rmse : 0.04370913068953021
### iteration step :  200 rmse : 0.04369072102767989
### iteration step :  200 rmse : 0.04347554983227153
### iteration step :  200 rmse : 0.043531309253735946
### iteration step :  200 rmse : 0.043592400375752974
### iteration step :  200 rmse : 0.04329647906053849
### iteration step :  200 rmse : 0.043320571921236325
### iteration step :  200 rmse : 0.04310448294502537
### iteration step :  200 rmse : 0.043135502866585664
### iteration step :  200 rmse : 0.0431378686480628
### iteration step :  200 rmse : 0.04325226798579326
### iteration step :  250 rmse : 0.029395183185609703
### iteration step :  250 rmse : 0.029544029484371667
### iteration step :  250 rmse : 0.029501874367581917
### iteration step :  250 rmse : 0.029329609713572624
### iteration step :  250 rmse : 0.02940211807327666
### iteration step :  250 rmse : 0.029467205684175126
### iteration step :  250 rmse : 0.0291892941917913
### iteration step :  250 rmse : 0.029198757426747574
### iteration step :  250 rmse : 0.0289957422600023
### iteration step :  250 rmse : 0.029044154450545423
### iteration step :  250 rmse : 0.029049587101179383
### iteration step :  250 rmse : 0.0292483287808792
### iteration step :  300 rmse : 0.0226787152337494
### iteration step :  300 rmse : 0.02284487386430052
### iteration step :  300 rmse : 0.022773566650325157
### iteration step :  300 rmse : 0.0226323450732252
### iteration step :  300 rmse : 0.02272006255153121
### iteration step :  300 rmse : 0.02277891744255841
### iteration step :  300 rmse : 0.02251624306238133
### iteration step :  300 rmse : 0.022515508246519746
### iteration step :  300 rmse : 0.022294916652985483
### iteration step :  300 rmse : 0.022367287171783188
### iteration step :  300 rmse : 0.022392303480653263
### iteration step :  300 rmse : 0.022621116143829462
### iteration step :  350 rmse : 0.01951697368018385
### iteration step :  350 rmse : 0.019681605297160502
### iteration step :  350 rmse : 0.019585635379668457
### iteration step :  350 rmse : 0.01946716545524992
### iteration step :  350 rmse : 0.01956568678979254
### iteration step :  350 rmse : 0.019614020075870507
### iteration step :  350 rmse : 0.019368393329296303
### iteration step :  350 rmse : 0.019361014872334947
### iteration step :  350 rmse : 0.019116038405167624
### iteration step :  350 rmse : 0.019209815479975054
### iteration step :  350 rmse : 0.019255623979392306
### iteration step :  350 rmse : 0.019493636196525253
### iteration step :  400 rmse : 0.01803666559195505
### iteration step :  400 rmse : 0.01819133106334465
### iteration step :  400 rmse : 0.018078504374883956
### iteration step :  400 rmse : 0.01797554592952745
### iteration step :  400 rmse : 0.01808050967685623
### iteration step :  400 rmse : 0.018118882879537026
### iteration step :  400 rmse : 0.01788968648248969
### iteration step :  400 rmse : 0.01787806667107072
### iteration step :  400 rmse : 0.017612244339685865
### iteration step :  400 rmse : 0.017720967349046875
### iteration step :  400 rmse : 0.017781796456597963
### iteration step :  400 rmse : 0.018022719092132912
### iteration step :  450 rmse : 0.017334045429542175
### iteration step :  450 rmse : 0.017476834937591553
### iteration step :  450 rmse : 0.017353619075108243
### iteration step :  450 rmse : 0.017260553985290725
### iteration step :  450 rmse : 0.01736909385010654
### iteration step :  450 rmse : 0.017399933857257643
### iteration step :  450 rmse : 0.01718431757863735
### iteration step :  450 rmse : 0.017169906496251174
### iteration step :  450 rmse : 0.016888615795792948
### iteration step :  450 rmse : 0.017006638154083247
### iteration step :  450 rmse : 0.017076792508661568
### iteration step :  450 rmse : 0.017319685953442663
### iteration step :  500 rmse : 0.016991609248052944
### iteration step :  500 rmse : 0.017123408915786276
### iteration step :  500 rmse : 0.01699398405641041
### iteration step :  500 rmse : 0.016907070492030107
### iteration step :  500 rmse : 0.01701760577221761
### iteration step :  500 rmse : 0.017043277556700438
### iteration step :  500 rmse : 0.016838031459003706
### iteration step :  500 rmse : 0.016821674312725347
### iteration step :  500 rmse : 0.016529281264429048
### iteration step :  500 rmse : 0.016652888795198523
### iteration step :  500 rmse : 0.01672854127549088
### iteration step :  500 rmse : 0.01697365788757087
### iteration step :  550 rmse : 0.01681896971626644
### iteration step :  550 rmse : 0.016941445597444878
### iteration step :  550 rmse : 0.016808259298884288
### iteration step :  550 rmse : 0.016725234339747652
### iteration step :  550 rmse : 0.016836938491435183
### iteration step :  550 rmse : 0.016859187050621192
### iteration step :  550 rmse : 0.016661644526141585
### iteration step :  550 rmse : 0.01664385102006507
### iteration step :  550 rmse : 0.01634344607549434
### iteration step :  550 rmse : 0.016470440821826415
### iteration step :  550 rmse : 0.016549323314269455
### iteration step :  550 rmse : 0.01679680459589556
### iteration step :  600 rmse : 0.016727439717439185
### iteration step :  600 rmse : 0.016842259158977305
### iteration step :  600 rmse : 0.016706687924467473
### iteration step :  600 rmse : 0.016626255644609424
### iteration step :  600 rmse : 0.016738696939262714
### iteration step :  600 rmse : 0.016758682415985583
### iteration step :  600 rmse : 0.0165668572000528
### iteration step :  600 rmse : 0.016547954461110684
### iteration step :  600 rmse : 0.016241668760760917
### iteration step :  600 rmse : 0.01637080005613795
### iteration step :  600 rmse : 0.016451627209257084
### iteration step :  600 rmse : 0.016701322901884613
### iteration step :  650 rmse : 0.016674291334806177
### iteration step :  650 rmse : 0.016782895588884923
### iteration step :  650 rmse : 0.016645698091647617
### iteration step :  650 rmse : 0.016567140799162126
### iteration step :  650 rmse : 0.01668009102159859
### iteration step :  650 rmse : 0.016698554271430785
### iteration step :  650 rmse : 0.016511017732427857
### iteration step :  650 rmse : 0.016491228766905234
### iteration step :  650 rmse : 0.016180544197961815
### iteration step :  650 rmse : 0.016311111507075243
### iteration step :  650 rmse : 0.016393167720500774
### iteration step :  650 rmse : 0.016644736912476723
### iteration step :  700 rmse : 0.01663836244260845
### iteration step :  700 rmse : 0.016741936743323523
### iteration step :  700 rmse : 0.016603524189001562
### iteration step :  700 rmse : 0.016526454393300447
### iteration step :  700 rmse : 0.016639792083379474
### iteration step :  700 rmse : 0.016657201345297263
### iteration step :  700 rmse : 0.01647292838164138
### iteration step :  700 rmse : 0.016452412570473588
### iteration step :  700 rmse : 0.016138379086448038
### iteration step :  700 rmse : 0.016269993747904915
### iteration step :  700 rmse : 0.016352885085045565
### iteration step :  700 rmse : 0.01660591006820994
### iteration step :  750 rmse : 0.016609060468955304
### iteration step :  750 rmse : 0.016708562969098353
### iteration step :  750 rmse : 0.016569153528341835
### iteration step :  750 rmse : 0.016493367054250013
### iteration step :  750 rmse : 0.016607027966870944
### iteration step :  750 rmse : 0.016623681027525396
### iteration step :  750 rmse : 0.016441927271724697
### iteration step :  750 rmse : 0.016420802465343727
### iteration step :  750 rmse : 0.016104179990850835
### iteration step :  750 rmse : 0.016236628551952997
### iteration step :  750 rmse : 0.016320141009291952
### iteration step :  750 rmse : 0.016574200475704952
### iteration step :  800 rmse : 0.016581161561119724
### iteration step :  800 rmse : 0.016677363428436752
### iteration step :  800 rmse : 0.01653706926961342
### iteration step :  800 rmse : 0.016462461377778535
### iteration step :  800 rmse : 0.0165764123504874
### iteration step :  800 rmse : 0.016592501800249376
### iteration step :  800 rmse : 0.01641271740942826
### iteration step :  800 rmse : 0.01639107285980137
### iteration step :  800 rmse : 0.01607242307736865
### iteration step :  800 rmse : 0.016205589842521892
### iteration step :  800 rmse : 0.016289609430091345
### iteration step :  800 rmse : 0.016544315829216106
### iteration step :  850 rmse : 0.01655222898431567
### iteration step :  850 rmse : 0.01664575121547578
### iteration step :  850 rmse : 0.01650462732819061
### iteration step :  850 rmse : 0.016431145801748967
### iteration step :  850 rmse : 0.016545370571042477
### iteration step :  850 rmse : 0.0165610240201051
### iteration step :  850 rmse : 0.016382795627019806
### iteration step :  850 rmse : 0.016360700076085796
### iteration step :  850 rmse : 0.01604044634439555
### iteration step :  850 rmse : 0.016174269580681418
### iteration step :  850 rmse : 0.016258737354641374
### iteration step :  850 rmse : 0.016513751774735172
### iteration step :  900 rmse : 0.016521280433778176
### iteration step :  900 rmse : 0.016612624200841603
### iteration step :  900 rmse : 0.01647069568226194
### iteration step :  900 rmse : 0.016398314989165354
### iteration step :  900 rmse : 0.016512806333073435
### iteration step :  900 rmse : 0.016528110873501783
### iteration step :  900 rmse : 0.016351122754892436
### iteration step :  900 rmse : 0.016328629783842228
### iteration step :  900 rmse : 0.016007096878603258
### iteration step :  900 rmse : 0.016141544071514254
### iteration step :  900 rmse : 0.016226430843994076
### iteration step :  900 rmse : 0.01648146573819512
### iteration step :  950 rmse : 0.016488081335748417
### iteration step :  950 rmse : 0.0165776521349748
### iteration step :  950 rmse : 0.016434929334981824
### iteration step :  950 rmse : 0.016363636620406217
### iteration step :  950 rmse : 0.016478391959548748
### iteration step :  950 rmse : 0.016493409030606622
### iteration step :  950 rmse : 0.016317416842511073
### iteration step :  950 rmse : 0.016294568571753345
### iteration step :  950 rmse : 0.015972009545965463
### iteration step :  950 rmse : 0.01610706345879587
### iteration step :  950 rmse : 0.016192355609214712
### iteration step :  950 rmse : 0.016447171683479145

In [4]:
pred_matrix = np.dot(P, Q.T)
print('예측 행렬 :\n', np.round(pred_matrix, 3))

예측 행렬 :
 [[3.991 0.897 1.306 2.002 1.663]
 [6.696 4.978 0.979 2.981 1.003]
 [6.677 0.391 2.987 3.977 3.986]
 [4.968 2.005 1.006 2.017 1.14 ]]

## 콘텐츠 기반 필터링 실습

In [5]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

movies = pd.read_csv('./tmdb-5000-movie-dataset/tmdb_5000_movies.csv')
print(movies.shape)
movies.head(1)

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [6]:
movies_df = movies[['id', 'title', 'genres', 'vote_average', 'vote_count', 'popularity', 
                    'keywords', 'overview']]

In [7]:
pd.set_option('max_colwidth', 100)
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id"": 3386, ""name"": ""sp..."

In [8]:
from ast import literal_eval
movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

In [9]:
movies_df['genres'] = movies_df['genres'].apply(lambda x : [y['name'] for y in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x : [y['name'] for y in x])
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony, society, space travel, futuristic, romance, spa..."

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

movies_df['genres_literal'] = movies_df['genres'].apply(lambda x : (' ').join(x))
count_vect = CountVectorizer(min_df=1, ngram_range=(1, 2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])
print(genre_mat.shape)

(4803, 276)

In [11]:
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:2])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]
 [0.59628479 1.         0.4        ... 0.         0.         0.        ]]

In [12]:
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
print(genre_sim_sorted_ind[:1])

[[   0 3494  813 ... 3038 3037 2401]]

In [13]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    title_movie = df[df['title'] == title_name]
    
    title_index=title_movie.index.values
    similar_indexes = sorted_ind[title_index, :(top_n)]
    
    print(similar_indexes)
    similar_indexes = similar_indexes.reshape(-1)
    
    return df.iloc[similar_indexes]

In [14]:
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average']]

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1

In [15]:
movies_df[['title', 'vote_average', 'vote_count']].sort_values('vote_average', 
                                                               ascending=False)[:10]

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

In [16]:
C = movies_df['vote_average'].mean()
m = movies_df['vote_count'].quantile(0.6)
print('C :', round(C, 3), 'm :', round(m, 3))

C : 6.092 m : 370.2

In [17]:
percentile = 0.6
m = movies_df['vote_count'].quantile(percentile)
C = movies_df['vote_average'].mean()

def weighted_vote_average(record):
    v = record['vote_count']
    R = record['vote_average']
    
    return ((v/(v+m)) * R) + ((m/(m+v)) * C)

movies_df['weighted_vote'] = movies.apply(weighted_vote_average, axis=1)

In [18]:
movies_df[['title', 'vote_average', 'weighted_vote', 'vote_count']].sort_values(
    'weighted_vote', ascending=False)[:10]

                         title  vote_average  weighted_vote  vote_count
1881  The Shawshank Redemption           8.5       8.396052        8205
3337             The Godfather           8.4       8.263591        5893
662                 Fight Club           8.3       8.216455        9413
3232              Pulp Fiction           8.3       8.207102        8428
65             The Dark Knight           8.2       8.136930       12002
1818          Schindler's List           8.3       8.126069        4329
3865                  Whiplash           8.3       8.123248        4254
809               Forrest Gump           8.2       8.105954        7927
2294             Spirited Away           8.3       8.105867        3840
2731    The Godfather: Part II           8.3       8.079586        3338

In [19]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    title_movie = df[df['title'] == title_name]
    title_index=title_movie.index.values
    
    similar_indexes = sorted_ind[title_index, :(top_n*2)]
    similar_indexes = similar_indexes.reshape(-1)
    
    similar_indexes = similar_indexes[similar_indexes != title_index]
    
    return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]
                                         
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average', 'weighted_vote']]

                            title  vote_average  weighted_vote
2731       The Godfather: Part II           8.3       8.079586
1847                   GoodFellas           8.2       7.976937
3866                  City of God           8.1       7.759693
1663  Once Upon a Time in America           8.2       7.657811
883           Catch Me If You Can           7.7       7.557097
281             American Gangster           7.4       7.141396
4041              This Is England           7.4       6.739664
1149              American Hustle           6.8       6.717525
1243                 Mean Streets           7.2       6.626569
2839                     Rounders           6.9       6.530427

## 아이템기반 필터링 실습

In [20]:
import pandas as pd
import numpy as np

movies = pd.read_csv('./ml-latest-small/movies.csv')
ratings = pd.read_csv('./ml-latest-small/ratings.csv')
print(movies.shape)
print(ratings.shape)

(9742, 3)
(100836, 4)

In [21]:
ratings = ratings[['userId', 'movieId', 'rating']]
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')
ratings_matrix.head(3)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
ratings_movies = pd.merge(ratings, movies, on='movieId')
ratings_matrix = ratings_movies.pivot_table('rating', index='userId', columns='title')

ratings_matrix = ratings_matrix.fillna(0)
ratings_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
ratings_matrix_T = ratings_matrix.transpose()
ratings_matrix_T.head(3)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(ratings_matrix_T, ratings_matrix_T)

item_sim_df = pd.DataFrame(data=item_sim, index=ratings_matrix.columns,
                           columns=ratings_matrix.columns)

print(item_sim_df.shape)
item_sim_df.head(3)

(9719, 9719)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),1.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.141653,0.0,...,0.0,0.342055,0.543305,0.707107,0.0,0.0,0.139431,0.327327,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,1.000000,0.707107,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Round Midnight (1986),0.0,0.707107,1.000000,0.0,0.0,0.0,0.176777,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0

In [25]:
item_sim_df['Godfather, The (1972)'].sort_values(ascending=False)[:6]

title
Godfather, The (1972)                        1.000000
Godfather: Part II, The (1974)               0.821773
Goodfellas (1990)                            0.664841
One Flew Over the Cuckoo's Nest (1975)       0.620536
Star Wars: Episode IV - A New Hope (1977)    0.595317
Fargo (1996)                                 0.588614
Name: Godfather, The (1972), dtype: float64

In [26]:
item_sim_df['Inception (2010)'].sort_values(ascending=False)[1:6]

title
Dark Knight, The (2008)          0.727263
Inglourious Basterds (2009)      0.646103
Shutter Island (2010)            0.617736
Dark Knight Rises, The (2012)    0.617504
Fight Club (1999)                0.615417
Name: Inception (2010), dtype: float64

In [27]:
def predict_rating(ratings_arr, item_sim_arr):
    ratings_pred = ratings_arr.dot(item_sim_arr) / np.array([np.abs(item_sim_arr).sum(axis=1)])
    return ratings_pred

In [28]:
ratings_pred = predict_rating(ratings_matrix.values, item_sim_df.values)
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings_matrix.index, \
                                   columns=ratings_matrix.columns)
ratings_pred_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.070345,0.577855,0.321696,0.227055,0.206958,0.194615,0.249883,0.102542,0.157084,0.178197,...,0.113608,0.181738,0.133962,0.128574,0.006179,0.212070,0.192921,0.136024,0.292955,0.720347
2,0.018260,0.042744,0.018861,0.000000,0.000000,0.035995,0.013413,0.002314,0.032213,0.014863,...,0.015640,0.020855,0.020119,0.015745,0.049983,0.014876,0.021616,0.024528,0.017563,0.000000
3,0.011884,0.030279,0.064437,0.003762,0.003749,0.002722,0.014625,0.002085,0.005666,0.006272,...,0.006923,0.011665,0.011800,0.012225,0.000000,0.008194,0.007017,0.009229,0.010420,0.084501

In [29]:
from sklearn.metrics import mean_squared_error

def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

print('아이템 기반 모든 최근접 이웃 MSE :', get_mse(ratings_pred, ratings_matrix.values))

아이템 기반 모든 최근접 이웃 MSE : 9.895354759094706

In [30]:
def predict_rating_topsim(ratings_arr, item_sim_arr, n=20):
    pred = np.zeros(ratings_arr.shape)
    
    for col in range(ratings_arr.shape[1]):
        top_n_items = [np.argsort(item_sim_arr[:, col])[:-n-1:-1]]
        for row in range(ratings_arr.shape[0]):
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row,
                                                                               :][top_n_items].T)
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))
            
    return pred

In [31]:
ratings_pred = predict_rating_topsim(ratings_matrix.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 Top-20 이웃 MSE :', get_mse(ratings_pred, ratings_matrix.values))

ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings_matrix.index,
                                   columns=ratings_matrix.columns)

아이템 기반 최근접 Top-20 이웃 MSE : 3.6949999176225483

In [32]:
user_rating_id = ratings_matrix.loc[9, :]
user_rating_id[user_rating_id > 0].sort_values(ascending=False)[:10]

title
Adaptation (2002)                                                                 5.0
Citizen Kane (1941)                                                               5.0
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    5.0
Producers, The (1968)                                                             5.0
Lord of the Rings: The Two Towers, The (2002)                                     5.0
Lord of the Rings: The Fellowship of the Ring, The (2001)                         5.0
Back to the Future (1985)                                                         5.0
Austin Powers in Goldmember (2002)                                                5.0
Minority Report (2002)                                                            4.0
Witness (1985)                                                                    4.0
Name: 9, dtype: float64

In [33]:
def get_unseen_movies(ratings_matrix, userId):
    user_rating = ratings_matrix.loc[userId, :]
    
    already_seen = user_rating[user_rating > 0].index.tolist()
    
    movies_list = ratings_matrix.columns.tolist()
    
    unseen_list = [movie for movie in movies_list if movie not in already_seen]
    
    return unseen_list

In [34]:
def recomm_movie_by_userid(pred_df, userId, unseen_list, top_n=10):
    recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_movies

unseen_list = get_unseen_movies(ratings_matrix, 9)

recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)

recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index,
                             columns=['pred_score'])
recomm_movies

                                                                                                pred_score
title
Shrek (2001)                                                                                      0.866202
Spider-Man (2002)                                                                                 0.857854
Last Samurai, The (2003)                                                                          0.817473
Indiana Jones and the Temple of Doom (1984)                                                       0.816626
Matrix Reloaded, The (2003)                                                                       0.800990
Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)    0.765159
Gladiator (2000)                                                                                  0.740956
Matrix, The (1999)                                                                                0.732693
Pirates of the Caribbean: The Curse of the Black Pearl (2003)                                     0.689591
Lord of the Rings: The Return of the King, The (2003)                                             0.676711

## 행렬분해를 이용한 실습

In [35]:
import numpy as np
from sklearn.metrics import mean_squared_error

def get_rmse(R, P, Q, non_zeros):
    error = 0
    full_pred_matrix = np.dot(P, Q.T)
    
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]
      
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
    rmse = np.sqrt(mse)
    
    return rmse

In [36]:
def matrix_factorization(R, K, steps=200, learning_rate=0.01, r_lambda = 0.01):
    num_users, num_items = R.shape
    
    np.random.seed(1)
    P = np.random.normal(scale = 1./K, size = (num_users, K))
    Q = np.random.normal(scale = 1./K, size = (num_items, K))
       
    non_zeros = [(i, j, R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j] > 0]
   
    for step in range(steps):
        for i, j, r in non_zeros :
            eij = r - np.dot(P[i, :], Q[j, :].T)
            P[i, :] = P[i, :] + learning_rate * (eij * Q[j, :] - r_lambda * P[i, :])
            Q[j, :] = Q[j, :] + learning_rate * (eij * P[i, :] - r_lambda * Q[j, :])
       
        rmse = get_rmse(R, P, Q, non_zeros)
        if (step % 10) == 0 :
            print("### iteration step :", step, "rmse :", rmse)
            
    return P, Q

In [37]:
import pandas as pd
import numpy as np

movies = pd.read_csv('./ml-latest-small/movies.csv')
ratings = pd.read_csv('./ml-latest-small/ratings.csv')
ratings = ratings[['userId', 'movieId', 'rating']]
ratings_matrix = ratings.pivot_table('rating', index='userId', columns='movieId')

rating_movies = pd.merge(ratings, movies, on='movieId')
ratings_matrix = rating_movies.pivot_table('rating', index='userId', columns='title')

In [38]:
P, Q = matrix_factorization(ratings_matrix.values, K=50, steps=200, learning_rate=0.01, r_lambda = 0.01)
pred_matrix = np.dot(P, Q.T)

### iteration step : 0 rmse : 2.9023619751336867
### iteration step : 10 rmse : 0.7335768591017927
### iteration step : 20 rmse : 0.5115539026853442
### iteration step : 30 rmse : 0.37261628282537446
### iteration step : 40 rmse : 0.2960818299181014
### iteration step : 50 rmse : 0.2520353192341642
### iteration step : 60 rmse : 0.22487503275269854
### iteration step : 70 rmse : 0.2068545530233154
### iteration step : 80 rmse : 0.19413418783028685
### iteration step : 90 rmse : 0.18470082002720403
### iteration step : 100 rmse : 0.177429275272091
### iteration step : 110 rmse : 0.1716522696470749
### iteration step : 120 rmse : 0.1669518194687172
### iteration step : 130 rmse : 0.1630529219199754
### iteration step : 140 rmse : 0.1597669192967964
### iteration step : 150 rmse : 0.15695986999457318
### iteration step : 160 rmse : 0.15453398186715428
### iteration step : 170 rmse : 0.15241618551077643
### iteration step : 180 rmse : 0.15055080739628304
### iteration step : 190 rmse : 0.1488947091323209

In [39]:
ratings_pred_matrix = pd.DataFrame(data=pred_matrix, index=ratings_matrix.index,
                                   columns=ratings_matrix.columns)
ratings_pred_matrix.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,3.055084,4.092018,3.564130,4.502167,3.981215,1.271694,3.603274,2.333266,5.091749,3.972454,...,1.402608,4.208382,3.705957,2.720514,2.787331,3.475076,3.253458,2.161087,4.010495,0.859474
2,3.170119,3.657992,3.308707,4.166521,4.311890,1.275469,4.237972,1.900366,3.392859,3.647421,...,0.973811,3.528264,3.361532,2.672535,2.404456,4.232789,2.911602,1.634576,4.135735,0.725684
3,2.307073,1.658853,1.443538,2.208859,2.229486,0.780760,1.997043,0.924908,2.970700,2.551446,...,0.520354,1.709494,2.281596,1.782833,1.635173,1.323276,2.887580,1.042618,2.293890,0.396941

In [40]:
unseen_list = get_unseen_movies(ratings_matrix, 9)

recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)

recomm_movies = pd.DataFrame(data=recomm_movies.values, index=recomm_movies.index,
                             columns=['pred_score'])
recomm_movies

                                                       pred_score
title
Rear Window (1954)                                       5.704612
South Park: Bigger, Longer and Uncut (1999)              5.451100
Rounders (1998)                                          5.298393
Blade Runner (1982)                                      5.244951
Roger & Me (1989)                                        5.191962
Gattaca (1997)                                           5.183179
Ben-Hur (1959)                                           5.130463
Rosencrantz and Guildenstern Are Dead (1990)             5.087375
Big Lebowski, The (1998)                                 5.038690
Star Wars: Episode V - The Empire Strikes Back (1980)    4.989601

## Surprise

In [42]:
# pip install scikit-surprise

In [43]:
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split

In [44]:
data = Dataset.load_builtin('ml-100k')
trainset, testset = train_test_split(data, test_size=.25, random_state=0)

Dataset ml-100k could not be found. Do you want to download it? [Y/n]

 y

Trying to download dataset from https://files.grouplens.org/datasets/movielens/ml-100k.zip...
Done! Dataset ml-100k has been saved to /Users/heeju/.surprise_data/ml-100k

In [45]:
algo = SVD(random_state=0)
algo.fit(trainset)

In [46]:
predictions = algo.test(testset)
print('prediction type :', type(predictions), 'size :', len(predictions))
print('prediction 결과의 최초 5개 추출')
predictions[:5]

prediction type : <class 'list'> size : 25000
prediction 결과의 최초 5개 추출

[Prediction(uid='120', iid='282', r_ui=4.0, est=3.5114147666251547, details={'was_impossible': False}),
 Prediction(uid='882', iid='291', r_ui=4.0, est=3.573872419581491, details={'was_impossible': False}),
 Prediction(uid='535', iid='507', r_ui=5.0, est=4.033583485472446, details={'was_impossible': False}),
 Prediction(uid='697', iid='244', r_ui=5.0, est=3.846363949593691, details={'was_impossible': False}),
 Prediction(uid='751', iid='385', r_ui=4.0, est=3.1807542478219157, details={'was_impossible': False})]

In [47]:
[(pred.uid, pred.iid, pred.est) for pred in predictions[:3]]

[('120', '282', 3.5114147666251547),
 ('882', '291', 3.573872419581491),
 ('535', '507', 4.033583485472446)]

In [48]:
uid = str(196)
iid = str(302)
pred = algo.predict(uid, iid)
print(pred)

user: 196        item: 302        r_ui = None   est = 4.49   {'was_impossible': False}

In [49]:
accuracy.rmse(predictions)

RMSE: 0.9467

0.9466860806937948

In [50]:
import pandas as pd

ratings = pd.read_csv('./ml-latest-small/ratings.csv')
ratings.to_csv('./ml-latest-small/ratings_noh.csv', index=False, header=False)

In [51]:
from surprise import Reader

reader = Reader(line_format = 'user item rating timestamp', sep=',', rating_scale=(0.5, 5))
data = Dataset.load_from_file('./ml-latest-small/ratings_noh.csv', reader=reader)

In [53]:
trainset, testset = train_test_split(data, test_size=.25, random_state=0)

algo = SVD(n_factors=50, random_state=0)
algo.fit(trainset)
predictions = algo.test(testset)
accuracy.rmse(predictions)

RMSE: 0.8682

0.8681952927143516

In [55]:
import pandas as pd
from surprise import Reader, Dataset

ratings = pd.read_csv('./ml-latest-small/ratings.csv')
reader = Reader(rating_scale=(0.5, 5.0))

data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
trainset, testset = train_test_split(data, test_size=.25, random_state=0)

algo = SVD(n_factors=50, random_state=0)
algo.fit(trainset)
predictions = algo.test(testset)
accuracy.rmse(predictions)

RMSE: 0.8682

0.8681952927143516

In [57]:
from surprise.model_selection import cross_validate

ratings = pd.read_csv('./ml-latest-small/ratings.csv')
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

algo = SVD(random_state=0)
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8771  0.8812  0.8671  0.8618  0.8757  0.8726  0.0071
MAE (testset)     0.6747  0.6777  0.6647  0.6630  0.6706  0.6701  0.0056
Fit time          0.49    0.49    0.48    0.48    0.47    0.48    0.01
Test time         0.04    0.14    0.04    0.04    0.11    0.07    0.04

{'test_rmse': array([0.87711893, 0.88120281, 0.8670551 , 0.86176682, 0.87567853]),
 'test_mae': array([0.67465372, 0.67773149, 0.66466463, 0.66300375, 0.67063462]),
 'fit_time': (0.48740506172180176,
  0.49266481399536133,
  0.47766709327697754,
  0.4792819023132324,
  0.4710268974304199),
 'test_time': (0.0392918586730957,
  0.14025282859802246,
  0.038368940353393555,
  0.04047203063964844,
  0.10853099822998047)}

In [58]:
from surprise.model_selection import GridSearchCV

param_grid = {'n_epochs' : [20, 40, 60], 'n_factors' : [50, 100, 200]}

gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=3)
gs.fit(data)

print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

0.8764032919995817
{'n_epochs': 20, 'n_factors': 50}

In [59]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
algo = SVD(n_factors=50, random_state=0)
algo.fit(data)

AttributeError: 'DatasetAutoFolds' object has no attribute 'n_users'

In [62]:
from surprise.dataset import DatasetAutoFolds

reader = Reader(line_format='user item rating timestamp', sep=',', rating_scale=(0.5, 5))
data_folds = DatasetAutoFolds(ratings_file = './ml-latest-small/ratings_noh.csv', reader=reader)

trainset = data_folds.build_full_trainset()

In [63]:
algo = SVD(n_epochs=20, n_factors=50, random_state=0)
algo.fit(trainset)

In [65]:
movies = pd.read_csv('./ml-latest-small/movies.csv')

movieIds = ratings[ratings['userId']==9]['movieId']
if movieIds[movieIds==42].count() == 0:
    print('사용자 아이디 9는 영화 아이디 42의 평점 없음')
    
print(movies[movies['movieId']==42])

사용자 아이디 9는 영화 아이디 42의 평점 없음
    movieId                   title              genres
38       42  Dead Presidents (1995)  Action|Crime|Drama

In [66]:
uid = str(9)
iid = str(42)

pred = algo.predict(uid, iid, verbose=True)

user: 9          item: 42         r_ui = None   est = 3.13   {'was_impossible': False}

In [69]:
def get_unseen_surprise(ratings, movies, userId):
    seen_movies = ratings[ratings['userId'] == userId]['movieId'].tolist()
    
    total_movies = movies['movieId'].tolist()
    
    unseen_movies = [movie for movie in total_movies if movie not in seen_movies]
    print('평점 매긴 영화 수 :', len(seen_movies), '추천 대상 영화 수 :', len(unseen_movies),
          '전체 영화 수 :', len(total_movies))
    
    return unseen_movies

unseen_movies = get_unseen_surprise(ratings, movies, 9)

평점 매긴 영화 수 : 46 추천 대상 영화 수 : 9696 전체 영화 수 : 9742

In [71]:
def recomm_movie_by_surprise(algo, userId, unseen_movies, top_n=10):
    predictions = [algo.predict(str(userId), str(movieId)) for movieId in unseen_movies]
    
    def sortkey_est(pred):
        return pred.est
    
    predictions.sort(key=sortkey_est, reverse=True)
    top_predictions = predictions[:top_n]
    
    top_movie_ids = [int(pred.iid) for pred in top_predictions]
    top_movie_rating = [pred.est for pred in top_predictions]
    top_movie_titles = movies[movies.movieId.isin(top_movie_ids)]['title']
    
    top_movie_preds = [(id, title, rating) for id, title, rating in \
                       zip(top_movie_ids, top_movie_titles, top_movie_rating)]
    
    return top_movie_preds

unseen_movies = get_unseen_surprise(ratings, movies, 9)
top_movie_preds = recomm_movie_by_surprise(algo, 9, unseen_movies, top_n=10)

print('#### Top-10 추천 영화 리스트 ####')
for top_movie in top_movie_preds:
    print(top_movie[1], ':', top_movie[2])

평점 매긴 영화 수 : 46 추천 대상 영화 수 : 9696 전체 영화 수 : 9742
#### Top-10 추천 영화 리스트 ####
Usual Suspects, The (1995) : 4.306302135700814
Star Wars: Episode IV - A New Hope (1977) : 4.281663842987387
Pulp Fiction (1994) : 4.278152632122759
Silence of the Lambs, The (1991) : 4.226073566460876
Godfather, The (1972) : 4.1918097904381995
Streetcar Named Desire, A (1951) : 4.154746591122658
Star Wars: Episode V - The Empire Strikes Back (1980) : 4.122016128534504
Star Wars: Episode VI - Return of the Jedi (1983) : 4.108009609093436
Goodfellas (1990) : 4.083464936588478
Glory (1989) : 4.07887165526957